<div class="ocart--header">
  <div class="ocart-logo">
    <!-- <img src="images/logo.jpeg"> -->
    ocart
  </div>
  <div class="ocart--header--nav">
    <top-menu></top-menu>
    <div class="ocart--bottom--bar">
      <main-menu></main-menu>
      <!-- <div class="ocart--search-bar">
        <input type="text" class="ocart-search-box" placeholder="Search" />
        <button class="ocart--search--btn">
          <i class="fa fa fa-search" aria-hidden="true"></i>
        </button>
      </div> -->
    </div>
  </div>
</div>
