<div class="oCart--product--container">
  <app-search (searchTextChanged)="setSearchText($event)"></app-search>
  <app-product-list
    [searchText]="searchText"
    #productListComponent
  ></app-product-list>
  <app-product-detail
    *ngIf="productListComponent.selectedProduct"
    [productListComp]="productListcomponent"
  ></app-product-detail>
  <div class="oCart-featured-products">
    <div class="oCart-featured-product-heading">
        <h1>Latest Arrival in Pupolar Brands</h1>
        
    </div>
  <featured-products>
    <h3 class="title">New Arrivals in Reebok</h3>
    <button class="call-to-action">Learn More Reebok</button>
  </featured-products>
  <featured-products>
    <h3 class="title">New Arrivals in Adidas</h3>
    <button class="call-to-action">Learn More Adidas</button>

  </featured-products>
  <featured-products>
    <h3 class="title">New Arrivals in Nike</h3>
    <button class="call-to-action">Learn More Nike</button>

  </featured-products>
  

</div>
